html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-size: 1.6rem;

    font-family: "Playfair Display", serif;
    background-image: url(../images/olena-bohovyk-Cq5NaI0yKBE-unsplash.webp);
    color: #d1d1d1;

    p {
      max-width: 75%;
      margin: auto;
    }
  }
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 0 0 1rem;
}
.header {
  //   background-color: black;
  padding: 1rem 0 4rem;

  .header-container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    .nav {
    }
    .logo-img {
    }
  }

  .nav {
    // background-color: rgb(15, 15, 15);

    .contents {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active {
        display: flex;
      }
    }

    .menu {
      display: block;
      background: none;
      border: none;
      margin-left: auto;

      .icon {
        display: none;
        &.active {
          display: unset;
          font-size: 2rem;
        }
      }
    }

    .link {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem;
      color: #d1d1d1;
      text-decoration: none;
      font-weight: 700;
      font-size: 2rem;

      &.active,
      &:hover {
        color: #ff9113;
        transition: color 300ms;
      }
    }
  }
}

.main {
  padding: 0 0 2rem;
  max-width: 85%;
  margin: auto;
  text-align: center;
  .hero {
    // background-image: url(../images/ramiro-martinez-NKsqN0-iIXY-unsplash.webp);
    // background-size: 100vw;
    // background-repeat: no-repeat;
    // padding: 2rem 0 0;
    // margin: 0;
    // text-align: center;
    // width: 75%;
    .hero-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
    .title {
      display: flex;
      justify-content: center;
      color: rgb(232, 231, 231);
      font-size: 3.5rem;
      font-weight: 700;
      text-align: center;
      margin: 0;
      text-align: center;
      padding: 0 0 3rem;
      margin: 0;
    }
  }

  .display {
    img:hover {
      width: 150%;
      transition: color 300ms;
    }
    .link {
      text-decoration: none;
      color: #d1d1d1;
    }
    .source-container {
      font-size: 0.75rem;
    }
    .source {
      text-decoration: none;
      color: #d1d1d1;
      font-size: 1rem;
    }
  }

  .solar {
    text-align: center;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }

  .lunar {
    text-align: center;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }
}

.footer {
  max-width: 85%;
  margin: auto;
  text-align: center;
  .contents {
    .list {
      list-style-type: none;
      padding: 0;
      .item {
        .link {
          color: #d1d1d1;
          text-decoration: none;
          font-weight: 700;
          padding: 1rem;
          &.active,
          &:hover {
            color: #ff9113;
            transition: color 300ms;
          }
        }
      }
    }
  }
}

.space {
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .main {
    .contents {
      display: flex;
      flex-direction: row;
      max-width: 100rem;
      margin: auto;
    }
  }

  img {
    max-width: 75%;
  }
  .header {
    .nav {
      .contents {
        display: flex;
        flex-direction: row;
        max-width: 100rem;
        margin: auto;

        .link {
          padding: 1.6rem;
        }
      }

      .menu {
        display: none;
      }
    }
  }
}
